:root {
  --color-white: 248 248 248;
  --color-black: 0 0 0;
  --color-primary: 229 193 22; // yellow
  --color-secondary: 29 118 196; // sky blue
  --color-background: 5 22 31; // dark blue
  --kemet-color-text: var(--color-white);

  overflow: auto;
}

body {
  font: 16px 'Ubuntu', sans-serif;
  color: var(--color-white);
  margin: 0;
  overflow: hidden;
  background: var(--color-background);
}

body {
	font-family: 'Atkinson', sans-serif;
	margin: 0;
	padding: 0;
	text-align: left;
	background: linear-gradient(var(--gray-gradient)) no-repeat;
	background-size: 100% 600px;
	word-wrap: break-word;
	overflow-wrap: break-word;
	color: rgb(var(--gray-dark));
	font-size: 20px;
	line-height: 1.7;
}

