:root {
  --color-white: 248 248 248;
  --color-black: 0 0 0;
  --color-primary: 229 193 22; // yellow
  --color-secondary: 29 118 196; // sky blue
  --color-tertiary: 5 22 31; // dark blue
  --kemet-color-text: var(--color-white);

  --footer-offset: -6rem;
  --footer-reoffset: 0;

  overflow: auto;

  @media screen and (min-width: 768px) {
    --footer-offset: -10rem;
    --footer-reoffset: 8rem;
  }
}

body {
  font: 16px 'Ubuntu', sans-serif;
  color: var(--color-white);
  margin: 0 0 -4rem 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  // background-color: white;

  > footer {
    color: rgb(var(--color-tertiary));
    text-align: center;
    position: relative;
    z-index: 1;
    transform: translateY(var(--footer-offset));

    a {
      text-decoration: none;
      color: rgb(var(--color-secondary));
    }

    me-waves {
      position: relative;
      @media screen and (min-width: 768px) {
        top: 1rem;
      }
    }

    me-footer-container {
      transform: translateY(var(--footer-reoffset));
    }
  }
}

a {
  color: rgb(var(--color-secondary));
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

main {
  flex: 1;
  color: white;
  background-color: rgb(var(--color-tertiary));

  > header {
    a {
      color: inherit;
      text-decoration: none;
      display: inline-flex;
      gap: 1rem;
      align-items: center;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 2;
      padding: 2rem;
      background: transparent;
    }


    h1 {
      font-size: clamp(1.75rem, 2.5vw, 3rem);
      text-shadow: 0 2px 2px rgba(0, 0, 0, 0.26);
    }

    h2 {
      color: rgba(255, 255, 255, 0.25);
      margin: 0;
      font-size: clamp(1.5rem, 2.5vw, 2rem);;
    }

    img {
      width: 64px;
      height: 64px;
      border-radius: 50%;
      outline: 2px solid white;
      outline-offset: 2px;;
    }
  }
}

time {
  font-size: 0.9rem;
  color: rgb(var(--kemet-color-gray-800));
}

article {
  line-height: 2;
  max-width: 1280px;
  padding: 2rem;
  margin: 10rem auto;

  h1 {
    font-size: clamp(1.75rem, 2.5vw, 4rem);
    line-height: 1.2;
    margin: 2rem 0;
    padding: 0;
  }

  h2 {
    font-size: clamp(1.5rem, 2.5vw, 2.25rem);
    margin: 2rem 0;
    padding: 0;
  }

  hr {
    opacity: 0.25;
  }

  time {
    color: inherit
  }
}

pre {
  padding: 2rem;
}

kemet-card {
  color: rgb(var(--color-tertiary));
  text-align: left;
  line-height: 1.5;
  border-radius: var(--kemet-border-radius-lg);
  box-shadow: var(--kemet-elevation-layer-3);
}

me-hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;

  .loader {
    width: 50px;
    --b: 8px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: rgb(var(--color-primary));
    -webkit-mask:
      repeating-conic-gradient(#0000 0deg,#000 1deg 70deg,#0000 71deg 90deg),
      radial-gradient(farthest-side,#0000 calc(100% - var(--b) - 1px),#000 calc(100% - var(--b)));
    -webkit-mask-composite: destination-in;
            mask-composite: intersect;
    animation: l5 1s infinite;
  }

  @keyframes l5 {to{transform: rotate(.5turn)}}
}

me-latest-blog-posts {
  display: flex;
  margin: 0;
  padding: 4rem;
  background: white;
  justify-content: center;

  h2 {
    font-size: clamp(1.5rem, 2.5vw, 2rem);
    margin: 2rem 0;
  }
}

me-latest-blog-cards {
  display: flex;
  gap: 2rem;
  flex-direction: column;

  @media screen and (min-width: 1024px) {
    display: grid;
    grid-auto-flow: column;
  }
}

me-social-menu {
  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin: 2rem 0 0 0;
    padding: 0;
    list-style: none;
  }

  a {
    display: block;
    width: 2rem;
    height: 2rem;
  }

  svg {
    width: 100%;
    height: 100%;
    fill: currentColor;
  }
}

me-blog-cards {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  margin: auto;
  padding: 10rem 2rem;
  max-width: 1280px;

  @media screen and (min-width: 640px) {
    grid-template-columns: 1fr 1fr;
  }

  @media screen and (min-width: 1280px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

me-project-figure {
  display: block;
  text-align: center;;
  padding: 1rem 0;

  img {
    display: inline-flex;
    outline: 1px solid rgb(var(--color-white) / 25%);
    outline-offset: 0.5rem;
    border-radius: var(--kemet-border-radius-lg);
    overflow: hidden;
    width: 98%;
    height: auto;
    box-shadow: var(--kemet-elevation-layer-3);
  }
}

me-project-skills {
  @media screen and (min-width: 769px) {
    display: flex;
    gap: 1rem;
    align-items: center;
  }

  ul {
    display: inline-flex;
    column-gap: 1rem;
    flex-wrap: wrap;
    list-style: none;
    align-items: center;
    margin: 0;
    padding: 0;
  }

  li {
    white-space: nowrap;
  }

  li:not(:last-child)::after {
    content: ',';
  }
}

me-404 {
  display: flex;
  flex-direction: column;
  min-height: 75vh;
  align-items: center;
  justify-content: center;

  span {
    font-size: 10rem;
    font-weight: bold;
  }
}
