---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<main>
      <header>
        <img src="/avatar.webp" alt="Me" />
        <div>
          <h1>{SITE_TITLE}</h1>
          <h2>{SITE_DESCRIPTION}</h2>
        </div>
      </header>
			<me-hero></me-hero>
      <me-waves></me-waves>
      <me-contact></me-contact>
		</main>
		<Footer />
	</body>
</html>
