---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import FormattedDate from '../components/FormattedDate.astro';

type Props = CollectionEntry<'blog'>['data'];

const { title, excerpt, date } = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={title} description={excerpt as string} />
	</head>

	<body>
		<main>
      <Header />
			<article>
        Posted on <FormattedDate date={date} />
        <h1>{title}</h1>
        <hr />
        <slot />
			</article>
		</main>
		<Footer />
	</body>
</html>
